name: release

on:
  workflow_dispatch:
  push:
    branches:
      - master


jobs:
  Release:
    name: "Release Image"
    runs-on: ubuntu-latest
    steps:
      - name: Make checkout speedy
        run: |
          git config --global fetch.parallel 50
          git config --global --add safe.directory '*'

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # to be able to extract the already created tags
          submodules: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1


      - name: Build
        run: | 
          docker build -t public.ecr.aws/v7h5e2i7/kiwi_flights_bot:latest .
          docker push public.ecr.aws/v7h5e2i7/kiwi_flights_bot:latest
